# Dependencies
node_modules/

# Build outputs
build/
*.jsbundle

# iOS
**/Pods/
*.xcuserstate
DerivedData

# Android
.gradle
local.properties
*.keystore
!debug.keystore

# Logs
npm-debug.log
yarn-error.log

# OS
.DS_Store

# Metro
.metro-health-check*
.expo
.nvmrc
.vscode

#Ignore cursor AI rules
.cursor/rules/codacy.mdc
.env
.DS_Store
.cursor/
.codacy/
.expo/
.vscode/