<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.FavoriteMapper">

    <resultMap type="Favorite" id="FavoriteResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="objectId" column="object_id"/>
        <result property="objectType" column="object_type"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectFavoriteVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               object_id,
               object_type,
               user_id
        from t_favorite
    </sql>

    <select id="selectFavoriteList" parameterType="Favorite" resultMap="FavoriteResult">
        <include refid="selectFavoriteVo"/>
        <where>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
            <if test="objectId != null ">and object_id = #{objectId}</if>
            <if test="objectIdList != null and objectIdList.size() > 0">
                and object_id in
                <foreach item="item" collection="objectIdList"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="objectType != null ">and object_type = #{objectType}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createStartTime != null">
                and create_time >= #{createStartTime}
            </if>
            <if test="createEndTime != null">
                and create_time <![CDATA[<=]]> #{createEndTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectFavoriteById" parameterType="Long" resultMap="FavoriteResult">
        <include refid="selectFavoriteVo"/>
        where id = #{id}
    </select>

    <select id="selectUserCollectionNum" resultType="java.lang.Long">
        select count(*) from t_favorite where del_flag = 1 and user_id = #{userId}
    </select>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_favorite WHERE del_flag != 2
    </select>

    <insert id="insertFavorite" parameterType="Favorite" useGeneratedKeys="true" keyProperty="id">
        insert into t_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="objectId != null">object_id,</if>
            <if test="objectType != null">object_type,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="objectId != null">#{objectId},</if>
            <if test="objectType != null">#{objectType},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <insert id="addFavorite">
        insert into t_favorite (create_time, update_time, user_id, object_id, object_type)
        VALUES (#{createTime}, #{updateTime}, #{userId}, #{objectId}, #{objectType})
        ON DUPLICATE KEY
            UPDATE del_flag    = IF(del_flag = 1, 2, 1),
                   create_time = #{createTime},
                   update_time = #{updateTime}
    </insert>

    <update id="updateFavorite" parameterType="Favorite">
        update t_favorite
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="objectId != null">object_id = #{objectId},</if>
            <if test="objectType != null">object_type = #{objectType},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFavoriteById" parameterType="Long">
        delete
        from t_favorite
        where id = #{id}
    </delete>

    <delete id="deleteFavoriteByIds" parameterType="String">
        delete from t_favorite where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>