<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.PopularSearchTermsMapper">
    
    <resultMap type="PopularSearchTerms" id="PopularSearchTermsResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createDept"    column="create_dept"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="searchTermsZh"    column="search_terms_zh"    />
        <result property="searchTermsEn"    column="search_terms_en"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <sql id="selectPopularSearchTermsVo">
        select id, create_by, create_time, update_by, update_time, create_dept, del_flag, search_terms_zh, search_terms_en, sort from t_popular_search_terms
    </sql>

    <select id="selectPopularSearchTermsList" parameterType="PopularSearchTerms" resultMap="PopularSearchTermsResult">
        <include refid="selectPopularSearchTermsVo"/>
        <where>  
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="delFlag == null "> and del_flag != 2</if>
            <if test="searchTermsZh != null  and searchTermsZh != ''"> and search_terms_zh like concat('%', #{searchTermsZh}, '%')</if>
            <if test="searchTermsEn != null  and searchTermsEn != ''"> and search_terms_en like concat('%', #{searchTermsEn}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
        order by sort, create_time desc
    </select>
    
    <select id="selectPopularSearchTermsById" parameterType="Long" resultMap="PopularSearchTermsResult">
        <include refid="selectPopularSearchTermsVo"/>
        where id = #{id}
    </select>

    <insert id="insertPopularSearchTerms" parameterType="PopularSearchTerms" useGeneratedKeys="true" keyProperty="id">
        insert into t_popular_search_terms
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="searchTermsZh != null">search_terms_zh,</if>
            <if test="searchTermsEn != null">search_terms_en,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="searchTermsZh != null">#{searchTermsZh},</if>
            <if test="searchTermsEn != null">#{searchTermsEn},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updatePopularSearchTerms" parameterType="PopularSearchTerms">
        update t_popular_search_terms
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="searchTermsZh != null">search_terms_zh = #{searchTermsZh},</if>
            <if test="searchTermsEn != null">search_terms_en = #{searchTermsEn},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePopularSearchTermsById" parameterType="Long">
        delete from t_popular_search_terms where id = #{id}
    </delete>

    <delete id="deletePopularSearchTermsByIds" parameterType="String">
        delete from t_popular_search_terms where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>