<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.SystemMessageMapper">

    <resultMap type="SystemMessage" id="SystemMessageResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createDept" column="create_dept"/>
        <result property="titleZh" column="title_zh"/>
        <result property="titleEn" column="title_en"/>
        <result property="sketchZh" column="sketch_zh"/>
        <result property="sketchEn" column="sketch_en"/>
        <result property="contentZh" column="content_zh"/>
        <result property="contentEn" column="content_en"/>
        <result property="isPublish" column="is_publish"/>
    </resultMap>

    <sql id="selectSystemMessageVo">
        select id,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               create_dept,
               title_zh,
               title_en,
               sketch_zh,
               sketch_en,
               content_zh,
               content_en,
               is_publish
        from t_system_message
    </sql>

    <select id="selectSystemMessageList" parameterType="SystemMessage" resultMap="SystemMessageResult">
        <include refid="selectSystemMessageVo"/>
        <where>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
            <if test="delFlag == null ">and del_flag != 2</if>
            <if test="titleZh != null  and titleZh != ''">and title_zh like concat('%', #{titleZh}, '%')</if>
            <if test="titleEn != null  and titleEn != ''">and title_en like concat('%', #{titleEn}, '%')</if>
            <if test="sketchZh != null  and sketchZh != ''">and sketch_zh = #{sketchZh}</if>
            <if test="sketchEn != null  and sketchEn != ''">and sketch_en = #{sketchEn}</if>
            <if test="contentZh != null  and contentZh != ''">and content_zh = #{contentZh}</if>
            <if test="contentEn != null  and contentEn != ''">and content_en = #{contentEn}</if>
            <if test="isPublish != null ">and is_publish = #{isPublish}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSystemMessageById" parameterType="Long" resultMap="SystemMessageResult">
        <include refid="selectSystemMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemMessage" parameterType="SystemMessage" useGeneratedKeys="true" keyProperty="id">
        insert into t_system_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="titleZh != null">title_zh,</if>
            <if test="titleEn != null">title_en,</if>
            <if test="sketchZh != null">sketch_zh,</if>
            <if test="sketchEn != null">sketch_en,</if>
            <if test="contentZh != null">content_zh,</if>
            <if test="contentEn != null">content_en,</if>
            <if test="isPublish != null">is_publish,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="titleZh != null">#{titleZh},</if>
            <if test="titleEn != null">#{titleEn},</if>
            <if test="sketchZh != null">#{sketchZh},</if>
            <if test="sketchEn != null">#{sketchEn},</if>
            <if test="contentZh != null">#{contentZh},</if>
            <if test="contentEn != null">#{contentEn},</if>
            <if test="isPublish != null">#{isPublish},</if>
        </trim>
    </insert>

    <update id="updateSystemMessage" parameterType="SystemMessage">
        update t_system_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="titleZh != null">title_zh = #{titleZh},</if>
            <if test="titleEn != null">title_en = #{titleEn},</if>
            <if test="sketchZh != null">sketch_zh = #{sketchZh},</if>
            <if test="sketchEn != null">sketch_en = #{sketchEn},</if>
            <if test="contentZh != null">content_zh = #{contentZh},</if>
            <if test="contentEn != null">content_en = #{contentEn},</if>
            <if test="isPublish != null">is_publish = #{isPublish},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemMessageById" parameterType="Long">
        delete
        from t_system_message
        where id = #{id}
    </delete>

    <delete id="deleteSystemMessageByIds" parameterType="String">
        delete from t_system_message where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>