<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.UserCommentMapper">
    
    <resultMap type="UserComment" id="UserCommentResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="images"    column="images"    />
        <result property="objectType"    column="object_type"    />
        <result property="objectId"    column="object_id"    />
        <result property="star"    column="star"    />
    </resultMap>

    <sql id="selectUserCommentVo">
        select id, del_flag, create_dept, create_by, create_time, update_by, update_time, user_id, content, images, object_type, object_id, star from t_user_comment
    </sql>

    <select id="selectUserCommentList" parameterType="UserComment" resultMap="UserCommentResult">
        <include refid="selectUserCommentVo"/>
        <where>  
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="delFlag == null "> and del_flag != 2</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="images != null  and images != ''"> and images = #{images}</if>
            <if test="objectType != null "> and object_type = #{objectType}</if>
            <if test="objectId != null "> and object_id = #{objectId}</if>
            <if test="star != null "> and star = #{star}</if>
            <if test="userCommentIdList != null and userCommentIdList.size() > 0">
                and id in
                <foreach item="id" collection="userCommentIdList" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectUserCommentById" parameterType="Long" resultMap="UserCommentResult">
        <include refid="selectUserCommentVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserComment" parameterType="UserComment" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="images != null">images,</if>
            <if test="objectType != null">object_type,</if>
            <if test="objectId != null">object_id,</if>
            <if test="star != null">star,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="images != null">#{images},</if>
            <if test="objectType != null">#{objectType},</if>
            <if test="objectId != null">#{objectId},</if>
            <if test="star != null">#{star},</if>
         </trim>
    </insert>

    <update id="updateUserComment" parameterType="UserComment">
        update t_user_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="images != null">images = #{images},</if>
            <if test="objectType != null">object_type = #{objectType},</if>
            <if test="objectId != null">object_id = #{objectId},</if>
            <if test="star != null">star = #{star},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserCommentById" parameterType="Long">
        delete from t_user_comment where id = #{id}
    </delete>

    <delete id="deleteUserCommentByIds" parameterType="String">
        delete from t_user_comment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>