<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="phone" column="phone"/>
        <result property="areaCode" column="area_code"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="logoutTime" column="logout_time"/>
        <result property="introduction" column="introduction"/>
        <result property="nickName" column="nick_name"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
    </resultMap>

    <sql id="selectUserVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               login_pwd,
               phone,
               area_code,
               email,
               avatar,
               logout_time,
               introduction,
               nick_name,
               first_name,
               last_name
        from t_user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="delFlag == null">and del_flag != 2</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="nickName != null  and nickName != ''">and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="firstName != null  and firstName != ''">and first_name like concat('%', #{firstName}, '%')</if>
            <if test="lastName != null  and lastName != ''">and last_name like concat('%', #{lastName}, '%')</if>
            <if test="userIdList != null  and userIdList.size() > 0">
                and id in
                <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
            <if test="createStartTime != null">
                and create_time >= #{createStartTime}
            </if>
            <if test="createEndTime != null">
                and create_time <![CDATA[<=]]> #{createEndTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_user WHERE del_flag != 2
    </select>

    <select id="selectTimeCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_user WHERE del_flag != 2
        <if test="createStartTime != null">
            and create_time >= #{createStartTime}
        </if>
        <if test="createEndTime != null">
            and create_time <![CDATA[<=]]> #{createEndTime}
        </if>
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="loginPwd != null">login_pwd,</if>
            <if test="phone != null">phone,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="logoutTime != null">logout_time,</if>
            <if test="introduction != null">introduction,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="firstName != null">first_name,</if>
            <if test="lastName != null">last_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="loginPwd != null">#{loginPwd},</if>
            <if test="phone != null">#{phone},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="logoutTime != null">#{logoutTime},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="firstName != null">#{firstName},</if>
            <if test="lastName != null">#{lastName},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="loginPwd != null">login_pwd = #{loginPwd},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="logoutTime != null">logout_time = #{logoutTime},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="firstName != null">first_name = #{firstName},</if>
            <if test="lastName != null">last_name = #{lastName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete
        from t_user
        where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>