<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.AgreementMapper">

    <resultMap type="Agreement" id="AgreementResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="titleZh" column="title_zh"/>
        <result property="titleEn" column="title_en"/>
        <result property="contentZh" column="content_zh"/>
        <result property="contentEn" column="content_en"/>
        <result property="code" column="code"/>
    </resultMap>

    <sql id="selectAgreementVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               title_zh,
               title_en,
               content_zh,
               content_en,
               code
        from t_agreement
    </sql>

    <select id="selectAgreementList" parameterType="Agreement" resultMap="AgreementResult">
        <include refid="selectAgreementVo"/>
        <where>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="delFlag == null">and del_flag != 2</if>
            <if test="titleZh != null  and titleZh != ''">and title_zh like concat('%', #{titleZh}, '%')</if>
            <if test="titleEn != null  and titleEn != ''">and title_en like concat('%', #{titleEn}, '%')</if>
            <if test="title != null  and title != ''">and (title_zh like concat('%', #{title}, '%') or title_en like concat('%', #{title}, '%'))</if>
            <if test="contentZh != null  and contentZh != ''">and content_zh = #{contentZh}</if>
            <if test="contentEn != null  and contentEn != ''">and content_en = #{contentEn}</if>
            <if test="code != null  and code != ''">and code = #{code}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectAgreementById" parameterType="Long" resultMap="AgreementResult">
        <include refid="selectAgreementVo"/>
        where id = #{id}
    </select>

    <insert id="insertAgreement" parameterType="Agreement">
        insert into t_agreement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="titleZh != null">title_zh,</if>
            <if test="titleEn != null">title_en,</if>
            <if test="contentZh != null">content_zh,</if>
            <if test="contentEn != null">content_en,</if>
            <if test="code != null">code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="titleZh != null">#{titleZh},</if>
            <if test="titleEn != null">#{titleEn},</if>
            <if test="contentZh != null">#{contentZh},</if>
            <if test="contentEn != null">#{contentEn},</if>
            <if test="code != null">#{code},</if>
        </trim>
    </insert>

    <update id="updateAgreement" parameterType="Agreement">
        update t_agreement
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="titleZh != null">title_zh = #{titleZh},</if>
            <if test="titleEn != null">title_en = #{titleEn},</if>
            <if test="contentZh != null">content_zh = #{contentZh},</if>
            <if test="contentEn != null">content_en = #{contentEn},</if>
            <if test="code != null">code = #{code},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgreementById" parameterType="Long">
        delete
        from t_agreement
        where id = #{id}
    </delete>

    <delete id="deleteAgreementByIds" parameterType="String">
        delete from t_agreement where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>