<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.DoctorMapper">

    <resultMap type="Doctor" id="DoctorResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="rehabilitationCenterId" column="rehabilitation_center_id"/>
        <result property="headImage" column="head_image"/>
        <result property="backgroundImages" column="background_images"/>
        <result property="nameZh" column="name_zh"/>
        <result property="nameEn" column="name_en"/>
        <result property="tagsZh" column="tags_zh"/>
        <result property="tagsEn" column="tags_en"/>
        <result property="positionTitleZh" column="position_title_zh"/>
        <result property="positionTitleEn" column="position_title_en"/>
        <result property="positionRangeZh" column="position_range_zh"/>
        <result property="positionRangeEn" column="position_range_en"/>
        <result property="star" column="star"/>
        <result property="commentNum" column="comment_num"/>
    </resultMap>

    <sql id="selectDoctorVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               rehabilitation_center_id,
               head_image,
               background_images,
               name_zh,
               name_en,
               tags_zh,
               tags_en,
               position_title_zh,
               position_title_en,
               position_range_zh,
               position_range_en,
               star,
               comment_num
        from t_doctor
    </sql>

    <select id="selectDoctorList" parameterType="Doctor" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        <where>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
            <if test="delFlag != null ">and del_flag != 2</if>
            <if test="rehabilitationCenterId != null ">and rehabilitation_center_id = #{rehabilitationCenterId}</if>
            <if test="headImage != null  and headImage != ''">and head_image = #{headImage}</if>
            <if test="backgroundImages != null  and backgroundImages != ''">and background_images =
                #{backgroundImages}
            </if>
            <if test="nameZh != null  and nameZh != ''">and name_zh like concat('%', #{nameZh}, '%')</if>
            <if test="nameEn != null  and nameEn != ''">and name_en like concat('%', #{nameEn}, '%')</if>
            <if test="tagsZh != null  and tagsZh != ''">and tags_zh = #{tagsZh}</if>
            <if test="tagsEn != null  and tagsEn != ''">and tags_en = #{tagsEn}</if>
            <if test="positionTitleZh != null  and positionTitleZh != ''">and position_title_zh = #{positionTitleZh}
            </if>
            <if test="positionTitleEn != null  and positionTitleEn != ''">and position_title_en = #{positionTitleEn}
            </if>
            <if test="positionRangeZh != null  and positionRangeZh != ''">and position_range_zh = #{positionRangeZh}
            </if>
            <if test="positionRangeEn != null  and positionRangeEn != ''">and position_range_en = #{positionRangeEn}
            </if>
            <if test="star != null ">and star = #{star}</if>
            <if test="commentNum != null ">and comment_num = #{commentNum}</if>
            <if test="doctorIdList != null and doctorIdList.size() > 0">
                and id in
                <foreach item="item" collection="doctorIdList" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectDoctorById" parameterType="Long" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where id = #{id}
    </select>

    <insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id">
        insert into t_doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="rehabilitationCenterId != null">rehabilitation_center_id,</if>
            <if test="headImage != null">head_image,</if>
            <if test="backgroundImages != null">background_images,</if>
            <if test="nameZh != null">name_zh,</if>
            <if test="nameEn != null">name_en,</if>
            <if test="tagsZh != null">tags_zh,</if>
            <if test="tagsEn != null">tags_en,</if>
            <if test="positionTitleZh != null">position_title_zh,</if>
            <if test="positionTitleEn != null">position_title_en,</if>
            <if test="positionRangeZh != null">position_range_zh,</if>
            <if test="positionRangeEn != null">position_range_en,</if>
            <if test="star != null">star,</if>
            <if test="commentNum != null">comment_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="rehabilitationCenterId != null">#{rehabilitationCenterId},</if>
            <if test="headImage != null">#{headImage},</if>
            <if test="backgroundImages != null">#{backgroundImages},</if>
            <if test="nameZh != null">#{nameZh},</if>
            <if test="nameEn != null">#{nameEn},</if>
            <if test="tagsZh != null">#{tagsZh},</if>
            <if test="tagsEn != null">#{tagsEn},</if>
            <if test="positionTitleZh != null">#{positionTitleZh},</if>
            <if test="positionTitleEn != null">#{positionTitleEn},</if>
            <if test="positionRangeZh != null">#{positionRangeZh},</if>
            <if test="positionRangeEn != null">#{positionRangeEn},</if>
            <if test="star != null">#{star},</if>
            <if test="commentNum != null">#{commentNum},</if>
        </trim>
    </insert>

    <update id="updateDoctor" parameterType="Doctor">
        update t_doctor
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="rehabilitationCenterId != null">rehabilitation_center_id = #{rehabilitationCenterId},</if>
            <if test="headImage != null">head_image = #{headImage},</if>
            <if test="backgroundImages != null">background_images = #{backgroundImages},</if>
            <if test="nameZh != null">name_zh = #{nameZh},</if>
            <if test="nameEn != null">name_en = #{nameEn},</if>
            <if test="tagsZh != null">tags_zh = #{tagsZh},</if>
            <if test="tagsEn != null">tags_en = #{tagsEn},</if>
            <if test="positionTitleZh != null">position_title_zh = #{positionTitleZh},</if>
            <if test="positionTitleEn != null">position_title_en = #{positionTitleEn},</if>
            <if test="positionRangeZh != null">position_range_zh = #{positionRangeZh},</if>
            <if test="positionRangeEn != null">position_range_en = #{positionRangeEn},</if>
            <if test="star != null">star = #{star},</if>
            <if test="commentNum != null">comment_num = #{commentNum},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCommentNum">
        update t_doctor
        set comment_num = if(comment_num + #{commentNum} > 0, comment_num + #{commentNum}, 0)
        where id = #{doctorId}
    </update>

    <delete id="deleteDoctorById" parameterType="Long">
        delete
        from t_doctor
        where id = #{id}
    </delete>

    <delete id="deleteDoctorByIds" parameterType="String">
        delete from t_doctor where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>