<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.DynamicsPostBlockMapper">
    
    <resultMap type="DynamicsPostBlock" id="DynamicsPostBlockResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createDept"    column="create_dept"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="blockDynamicsPostId"    column="block_dynamics_post_id"    />
    </resultMap>

    <sql id="selectDynamicsPostBlockVo">
        select id, create_by, create_time, update_by, update_time, create_dept, del_flag, user_id, block_dynamics_post_id from t_dynamics_post_block
    </sql>

    <select id="selectDynamicsPostBlockList" parameterType="DynamicsPostBlock" resultMap="DynamicsPostBlockResult">
        <include refid="selectDynamicsPostBlockVo"/>
        <where>  
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="delFlag == null "> and del_flag != 2</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="blockDynamicsPostId != null "> and block_dynamics_post_id = #{blockDynamicsPostId}</if>
            <if test="dynamicsPostIdList != null and dynamicsPostIdList.size() > 0">
                and block_dynamics_post_id in
                <foreach item="id" collection="dynamicsPostIdList" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectDynamicsPostBlockById" parameterType="Long" resultMap="DynamicsPostBlockResult">
        <include refid="selectDynamicsPostBlockVo"/>
        where id = #{id}
    </select>

    <insert id="insertDynamicsPostBlock" parameterType="DynamicsPostBlock" useGeneratedKeys="true" keyProperty="id">
        insert into t_dynamics_post_block
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="blockDynamicsPostId != null">block_dynamics_post_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="blockDynamicsPostId != null">#{blockDynamicsPostId},</if>
         </trim>
    </insert>

    <insert id="addDynamicsPostBlock">
        insert into t_dynamics_post_block (create_time, update_time, user_id, block_dynamics_post_id)
        VALUES (#{createTime}, #{updateTime}, #{userId}, #{blockDynamicsPostId})
        ON DUPLICATE KEY
            UPDATE del_flag    = IF(del_flag = 1, 2, 1),
                   create_time = #{createTime},
                   update_time = #{updateTime}
    </insert>

    <update id="updateDynamicsPostBlock" parameterType="DynamicsPostBlock">
        update t_dynamics_post_block
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="blockDynamicsPostId != null">block_dynamics_post_id = #{blockDynamicsPostId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDynamicsPostBlockById" parameterType="Long">
        delete from t_dynamics_post_block where id = #{id}
    </delete>

    <delete id="deleteDynamicsPostBlockByIds" parameterType="String">
        delete from t_dynamics_post_block where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>