<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.DynamicsPostMapper">

    <resultMap type="DynamicsPost" id="DynamicsPostResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="dynamicsPostCategoryId" column="dynamics_post_category_id"/>
        <result property="content" column="content"/>
        <result property="pictures" column="pictures"/>
        <result property="videos" column="videos"/>
        <result property="whetherPublic" column="whether_public"/>
        <result property="userId" column="user_id"/>
        <result property="likesNum" column="likes_num"/>
        <result property="commentNum" column="comment_num"/>
        <result property="forwardNum" column="forward_num"/>
        <result property="whetherRecommend" column="whether_recommend"/>
        <result property="sourceType" column="source_type"/>
    </resultMap>

    <sql id="selectDynamicsPostVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               dynamics_post_category_id,
               content,
               pictures,
               videos,
               whether_public,
               user_id,
               likes_num,
               comment_num,
               forward_num,
               whether_recommend,
               source_type
        from t_dynamics_post
    </sql>

    <select id="selectDynamicsPostList" parameterType="DynamicsPost" resultMap="DynamicsPostResult">
        <include refid="selectDynamicsPostVo"/>
        <where>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
            <if test="delFlag != null ">and del_flag != 2</if>
            <if test="dynamicsPostCategoryId != null ">and dynamics_post_category_id = #{dynamicsPostCategoryId}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="pictures != null  and pictures != ''">and pictures = #{pictures}</if>
            <if test="videos != null  and videos != ''">and videos = #{videos}</if>
            <if test="whetherPublic != null ">and whether_public = #{whetherPublic}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="likesNum != null ">and likes_num = #{likesNum}</if>
            <if test="commentNum != null ">and comment_num = #{commentNum}</if>
            <if test="forwardNum != null ">and forward_num = #{forwardNum}</if>
            <if test="whetherRecommend != null ">and whether_recommend = #{whetherRecommend}</if>
            <if test="userIdList != null and userIdList.size() > 0">
                and user_id in
                <foreach item="item" collection="userIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="searchKey != null and searchKey != ''">
                and content like concat('%',#{searchKey},'%')
            </if>
            <if test="blockDynamicsPostIdList != null and blockDynamicsPostIdList.size() > 0">
                and id not in
                <foreach item="item" collection="blockDynamicsPostIdList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="dynamicsPostIdList != null and dynamicsPostIdList.size() > 0">
                and id in
                <foreach item="dynamicsPostId" collection="dynamicsPostIdList" open="(" separator="," close=")">
                    #{dynamicsPostId}
                </foreach>
            </if>
            <if test="notPublicUserIdList != null and notPublicUserIdList.size() > 0">
                and (
                    whether_public = 1 or
                    (whether_public = 2 and user_id in <foreach collection="notPublicUserIdList" item="notPublicUserId" open="(" separator="," close=")">#{notPublicUserId}</foreach>)
                )
            </if>
        </where>
        order by
        <if test="sortBy != null">
            <choose>
                <when test="sortBy == 1">
                    likes_num desc,
                </when>
                <when test="sortBy == 2">
                    forward_num desc,
                </when>
            </choose>
        </if>
        create_time desc
    </select>

    <select id="selectDynamicsPostById" parameterType="Long" resultMap="DynamicsPostResult">
        <include refid="selectDynamicsPostVo"/>
        where id = #{id}
    </select>

    <select id="selectDynamicsPostTimeGroupList" resultType="com.ruoyi.mgkf.domain.DynamicsPost">
        SELECT
            DATE_FORMAT(
                CONVERT_TZ(
                    FROM_UNIXTIME(create_time/1000),'+00:00',#{timeZone}
                ), '%Y-%m'
            ) AS yearMonth,
               GROUP_CONCAT(id) AS dynamicsPostIds FROM t_dynamics_post
        <where>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="delFlag == null">and del_flag != 2</if>
            <if test="userId != null">and user_id = #{userId}</if>
        </where>
        GROUP BY yearMonth
        ORDER BY yearMonth DESC
    </select>

    <select id="selectDynamicsPostByIds" resultType="com.ruoyi.mgkf.domain.DynamicsPost">
        SELECT * FROM t_dynamics_post
        WHERE id IN
        <foreach item="dynamicsPostId" collection="dynamicsPostIds" open="(" separator="," close=")">
            #{dynamicsPostId}
        </foreach>
    </select>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_dynamics_post WHERE del_flag != 2
    </select>

    <select id="selectPublishRanking" resultType="com.ruoyi.mgkf.domain.DynamicsPost">
        SELECT user_id, COUNT(*) AS publishNum FROM t_dynamics_post
        WHERE del_flag != 2
        GROUP BY user_id
        ORDER BY publishNum DESC
        LIMIT 3
    </select>

    <insert id="insertDynamicsPost" parameterType="DynamicsPost" useGeneratedKeys="true" keyProperty="id">
        insert into t_dynamics_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="dynamicsPostCategoryId != null">dynamics_post_category_id,</if>
            <if test="content != null">content,</if>
            <if test="pictures != null">pictures,</if>
            <if test="videos != null">videos,</if>
            <if test="whetherPublic != null">whether_public,</if>
            <if test="userId != null">user_id,</if>
            <if test="likesNum != null">likes_num,</if>
            <if test="commentNum != null">comment_num,</if>
            <if test="forwardNum != null">forward_num,</if>
            <if test="whetherRecommend != null">whether_recommend,</if>
            <if test="sourceType != null">source_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="dynamicsPostCategoryId != null">#{dynamicsPostCategoryId},</if>
            <if test="content != null">#{content},</if>
            <if test="pictures != null">#{pictures},</if>
            <if test="videos != null">#{videos},</if>
            <if test="whetherPublic != null">#{whetherPublic},</if>
            <if test="userId != null">#{userId},</if>
            <if test="likesNum != null">#{likesNum},</if>
            <if test="commentNum != null">#{commentNum},</if>
            <if test="forwardNum != null">#{forwardNum},</if>
            <if test="whetherRecommend != null">#{whetherRecommend},</if>
            <if test="sourceType != null">#{sourceType},</if>
        </trim>
    </insert>

    <update id="updateDynamicsPost" parameterType="DynamicsPost">
        update t_dynamics_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="dynamicsPostCategoryId != null">dynamics_post_category_id = #{dynamicsPostCategoryId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="pictures != null">pictures = #{pictures},</if>
            <if test="videos != null">videos = #{videos},</if>
            <if test="whetherPublic != null">whether_public = #{whetherPublic},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="likesNum != null">likes_num = #{likesNum},</if>
            <if test="commentNum != null">comment_num = #{commentNum},</if>
            <if test="forwardNum != null">forward_num = #{forwardNum},</if>
            <if test="whetherRecommend != null">whether_recommend = #{whetherRecommend},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateDynamicsPostLikesNum">
        update t_dynamics_post
        set likes_num = if(likes_num + #{likesNum} > 0, likes_num + #{likesNum}, 0)
        where id = #{dynamicsPostId}
    </update>

    <update id="updateForwardNum">
        update t_dynamics_post
        set forward_num = if(forward_num + #{forwardNum} > 0, forward_num + #{forwardNum}, 0)
        where id = #{dynamicsPostId}
    </update>

    <update id="updateCommentNum">
        update t_dynamics_post
        set comment_num = if(comment_num + #{commentNum} > 0, comment_num + #{commentNum}, 0)
        where id = #{dynamicsPostId}
    </update>

    <delete id="deleteDynamicsPostById" parameterType="Long">
        delete
        from t_dynamics_post
        where id = #{id}
    </delete>

    <delete id="deleteDynamicsPostByIds" parameterType="String">
        delete from t_dynamics_post where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>