<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.RehabilitationCenterMapper">

    <resultMap type="RehabilitationCenter" id="RehabilitationCenterResult">
        <result property="id" column="id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="coverImage" column="cover_image"/>
        <result property="backgroundImages" column="background_images"/>
        <result property="nameZh" column="name_zh"/>
        <result property="nameEn" column="name_en"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="address" column="address"/>
        <result property="detailZh" column="detail_zh"/>
        <result property="detailEn" column="detail_en"/>
        <result property="star" column="star"/>
        <result property="commentNum" column="comment_num"/>
        <result property="distance" column="distance"/>
    </resultMap>

    <sql id="selectRehabilitationCenterListVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               cover_image,
               background_images,
               name_zh,
               name_en,
               longitude,
               latitude,
               address,
               detail_zh,
               detail_en,
               star,
               comment_num
            <if test="clientLongitude != null and clientLongitude != '' and clientLatitude != null and clientLatitude != ''">
                ,
                ROUND(
                ((ST_Distance_Sphere(POINT(#{clientLongitude}, #{clientLatitude}), POINT(longitude, latitude))) / 1000),
                2
                ) as distance
            </if>
        from t_rehabilitation_center
    </sql>

    <select id="selectRehabilitationCenterList" parameterType="RehabilitationCenter"
            resultMap="RehabilitationCenterResult">
        <include refid="selectRehabilitationCenterListVo"/>
        <where>
            <if test="delFlag != null ">and del_flag = #{delFlag}</if>
            <if test="delFlag == null ">and del_flag != 2</if>
            <if test="coverImage != null  and coverImage != ''">and cover_image = #{coverImage}</if>
            <if test="backgroundImages != null  and backgroundImages != ''">and background_images =
                #{backgroundImages}
            </if>
            <if test="nameZh != null  and nameZh != ''">and name_zh like concat('%', #{nameZh}, '%')</if>
            <if test="nameEn != null  and nameEn != ''">and name_en like concat('%', #{nameEn}, '%')</if>
            <if test="longitude != null  and longitude != ''">and longitude = #{longitude}</if>
            <if test="latitude != null  and latitude != ''">and latitude = #{latitude}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="detailZh != null  and detailZh != ''">and detail_zh = #{detailZh}</if>
            <if test="detailEn != null  and detailEn != ''">and detail_en = #{detailEn}</if>
            <if test="star != null ">and star = #{star}</if>
            <if test="commentNum != null ">and comment_num = #{commentNum}</if>
            <if test="searchKey != null and searchKey != ''">
                and (
                    name_zh like concat('%', #{searchKey}, '%')
                    or name_en like concat('%', #{searchKey}, '%')
                )
            </if>
            <if test="minScore != null">
                and star >= #{minScore}
            </if>
            <if test="maxScore != null">
                and star <![CDATA[<=]]> #{maxScore}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="rehabilitationCenterIdList != null and rehabilitationCenterIdList.size() > 0">
                and id in
                <foreach item="rehabilitationCenterId" collection="rehabilitationCenterIdList" separator="," open="(" close=")" index="">
                    #{rehabilitationCenterId}
                </foreach>
            </if>
            <if test="createStartTime != null">
                and create_time >= #{createStartTime}
            </if>
            <if test="createEndTime != null">
                and create_time <![CDATA[<=]]> #{createEndTime}
            </if>
        </where>
        <if test="clientLongitude != null and clientLongitude != '' and clientLatitude != null and clientLatitude != ''">
            <choose>
                <when test="minDistance != null and maxDistance != null">
                    HAVING distance >= #{minDistance} and distance <![CDATA[<=]]> #{maxDistance}
                </when>
                <when test="minDistance != null and maxDistance == null">
                    HAVING distance >= #{minDistance}
                </when>
                <when test="minDistance == null and maxDistance != null">
                    HAVING distance <![CDATA[<=]]> #{maxDistance}
                </when>
            </choose>
        </if>
        <choose>
            <when test="orderByType != null">
                <choose>
                    <!-- 排序方式：1-默认排序 2-距离排序 3-星级排序 -->
                    <when test="orderByType == 2 and clientLongitude != null and clientLongitude != '' and clientLatitude != null and clientLatitude != ''">
                        order by distance
                    </when>
                    <when test="orderByType == 3">
                        order by star desc
                    </when>
                    <otherwise>
                        <choose>
                            <when test="clientLongitude != null and clientLongitude != '' and clientLatitude != null and clientLatitude != ''">
                                order by distance, create_time desc
                            </when>
                            <otherwise>
                                order by create_time desc
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                <choose>
                    <when test="clientLongitude != null and clientLongitude != '' and clientLatitude != null and clientLatitude != ''">
                        order by distance, create_time desc
                    </when>
                    <otherwise>
                        order by create_time desc
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </select>

    <sql id="selectRehabilitationCenterVo">
        select id,
               del_flag,
               create_dept,
               create_by,
               create_time,
               update_by,
               update_time,
               cover_image,
               background_images,
               name_zh,
               name_en,
               longitude,
               latitude,
               address,
               detail_zh,
               detail_en,
               star,
               comment_num
        from t_rehabilitation_center
    </sql>

    <select id="selectRehabilitationCenterById" parameterType="Long" resultMap="RehabilitationCenterResult">
        <include refid="selectRehabilitationCenterVo"/>
        where id = #{id}
    </select>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_rehabilitation_center WHERE del_flag != 2
    </select>

    <insert id="insertRehabilitationCenter" parameterType="RehabilitationCenter" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_rehabilitation_center
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="backgroundImages != null">background_images,</if>
            <if test="nameZh != null">name_zh,</if>
            <if test="nameEn != null">name_en,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="address != null">address,</if>
            <if test="detailZh != null">detail_zh,</if>
            <if test="detailEn != null">detail_en,</if>
            <if test="star != null">star,</if>
            <if test="commentNum != null">comment_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="backgroundImages != null">#{backgroundImages},</if>
            <if test="nameZh != null">#{nameZh},</if>
            <if test="nameEn != null">#{nameEn},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="address != null">#{address},</if>
            <if test="detailZh != null">#{detailZh},</if>
            <if test="detailEn != null">#{detailEn},</if>
            <if test="star != null">#{star},</if>
            <if test="commentNum != null">#{commentNum},</if>
        </trim>
    </insert>

    <update id="updateRehabilitationCenter" parameterType="RehabilitationCenter">
        update t_rehabilitation_center
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="backgroundImages != null">background_images = #{backgroundImages},</if>
            <if test="nameZh != null">name_zh = #{nameZh},</if>
            <if test="nameEn != null">name_en = #{nameEn},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="address != null">address = #{address},</if>
            <if test="detailZh != null">detail_zh = #{detailZh},</if>
            <if test="detailEn != null">detail_en = #{detailEn},</if>
            <if test="star != null">star = #{star},</if>
            <if test="commentNum != null">comment_num = #{commentNum},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCommentNum">
        update t_rehabilitation_center
        set comment_num = if(comment_num + #{commentNum} > 0, comment_num + #{commentNum}, 0)
        where id = #{rehabilitationCenterId}
    </update>

    <delete id="deleteRehabilitationCenterById" parameterType="Long">
        delete
        from t_rehabilitation_center
        where id = #{id}
    </delete>

    <delete id="deleteRehabilitationCenterByIds" parameterType="String">
        delete from t_rehabilitation_center where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>