<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mgkf.mapper.UserCommentReplyMapper">
    
    <resultMap type="UserCommentReply" id="UserCommentReplyResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userCommentId"    column="user_comment_id"    />
        <result property="content"    column="content"    />
        <result property="userId"    column="user_id"    />
        <result property="replyUserId"    column="reply_user_id"    />
    </resultMap>

    <sql id="selectUserCommentReplyVo">
        select id, del_flag, create_dept, create_by, create_time, update_by, update_time, user_comment_id, content, user_id, reply_user_id from t_user_comment_reply
    </sql>

    <select id="selectUserCommentReplyList" parameterType="UserCommentReply" resultMap="UserCommentReplyResult">
        <include refid="selectUserCommentReplyVo"/>
        <where>  
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
            <if test="delFlag != null "> and del_flag != 2</if>
            <if test="userCommentId != null "> and user_comment_id = #{userCommentId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="replyUserId != null "> and reply_user_id = #{replyUserId}</if>
            <if test="userCommentIdList != null and userCommentIdList.size() > 0">
                and user_comment_id in
                <foreach item="id" collection="userCommentIdList" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectUserCommentReplyById" parameterType="Long" resultMap="UserCommentReplyResult">
        <include refid="selectUserCommentReplyVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserCommentReply" parameterType="UserCommentReply" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_comment_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userCommentId != null">user_comment_id,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="replyUserId != null">reply_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userCommentId != null">#{userCommentId},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="replyUserId != null">#{replyUserId},</if>
         </trim>
    </insert>

    <update id="updateUserCommentReply" parameterType="UserCommentReply">
        update t_user_comment_reply
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userCommentId != null">user_comment_id = #{userCommentId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="replyUserId != null">reply_user_id = #{replyUserId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserCommentReplyById" parameterType="Long">
        delete from t_user_comment_reply where id = #{id}
    </delete>

    <delete id="deleteUserCommentReplyByIds" parameterType="String">
        delete from t_user_comment_reply where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>